@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, button, a {
    font-family: 'Ubuntu', system-ui, sans-serif;
}

#navMenu a {
    font-family: 'Ubuntu', system-ui, sans-serif;
}

.clamp-lines-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    height: 104px;
}

.navbar-trans {
    @apply bg-opacity-75;
    backdrop-filter: blur(4px);
}

.hamburger-icon {
    @apply w-[28px] h-[2.5px] my-[6.75px] block bg-primary;
}

.hamburger-active > span:nth-child(1) {
    @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply rotate-45;
}